:root {
    --page-background: #d8d8d8;
    --form-background: #FFF;
    --dark-grey: #2e2e2e;
    --title-color: #9f0d0d;
    --default-space: 20px;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: var(--page-background);
    font-family: Verdana, sans-serif;
    font-size: 1em;
}

input,
button,
textarea {
    font-size: inherit;
}

section {
    margin: 0 auto;
    width: 980px;
}

section>h1 {
    color: var(--title-color);

}

form {
    background: var(--form-background);
    padding: var(--default-space);
    border: 1px solid var(--dark-grey);
    border-radius: 5px;
    margin-bottom: var(--default-space);
}

form>div {
    margin-bottom: var(--default-space);
}

form label {
    padding-right: 10px;
}

form input {
    padding: 5px;
    width: 100%;
    border: 1px solid var(--dark-grey);
    border-radius: 5px;
    color: var(--dark-grey);
}

form textarea {
    border: 1px solid var(--dark-grey);
    border-radius: 5px;
    padding: 5px;
    height: 150px;
    width: 100%;
    resize: none;
}